<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-padrao}">
<head>

</head>
<body>
<section layout:fragment="conteudo">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Bem vindo</h1>
            <p class="col-md-8 fs-4">Aplicação desenvolvida na disciplina Programação para Web - PW25S.</p>
            <h2>Spring Security + Thymeleaf</h2>
            <div sec:authorize="hasRole('ROLE_USER')">Esse texto vai aparecer para o USER.</div>
            <div sec:authorize="hasRole('ROLE_ADMIN')">Esse texto vai aparecer para o ADMIN.</div>
            <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">
                Esse texto vai aparecer para o ADMIN e USER.
            </div>
            <div sec:authorize="isAuthenticated()">
                Texto visível para qualquer usuário autenticado.
            </div>
        </div>
    </div>
</section>
</body>
</html>
