<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-padrao}">
<head>
</head>
<body>
<section layout:fragment="conteudo">
    <h1>Lista de Categorias</h1>

    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCadastro"
            onclick="newEntity()">
        <i class="fa fa-plus"></i> Novo
    </button>
    <table id="tableData" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table> <!-- FIM TABLE -->

    <!-- Modal -->
    <div class="modal fade" id="modalCadastro" tabindex="-1" aria-labelledby="modalCadastroLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form id="frm" name="frm" method="POST" th:action="@{/categoria}">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalCadastroLabel">Cadastro de Categoria</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="modal-body">
                            <input type="hidden" id="id" name="id"/>
                            <div class="form-group">
                                <label for="nome">Nome</label>
                                <input type="text" class="form-control" id="nome" name="nome" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</section>
<th:block layout:fragment="javascript">
    <script type="text/javascript" th:src="@{/js/crud-categoria.js}"></script>
</th:block>
</body>
</html>
        
        
        